body {
  margin: 0;
  padding: 0;
}

.logo {
  float: left;
  padding-left: 20px;
  padding-top: 10px;
  width: 50px;
}
/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  background-image: linear-gradient(to right, #2f3c7e, #8aaae5, #fbeaeb);
  height: 70px;
  width: 100%;
}

.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-bar li a {
  color: white;
  font-size: 16px;
  font-family: "Jost", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
}

/* Carousel container */
.carousel-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  /* position: absolute; */
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -380%);
  position: relative;
  animation: move-words 50s linear infinite;
  margin: 0;
}

@keyframes move-words {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.text-center {
  font-size: 50px;
}
