<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <title>EchoSystem</title>
  </head>

  <body>
    <div class="video-background">
      <video playsinline autoplay muted loop id="background-video">
        <source src="../images/EchoSysVid.mp4" type="video/mp4" />
      </video>
    </div>

    <header class="top-nav">
      <a class="nav-button sign-in-button" href="/signup" style="color: white"
        >SIGN IN</a
      >
    </header>

    <main class="content">
      <h1>EchoSystem</h1>
      <div class="tagline">
        we <span id="changing-text">amplify</span> musicians
      </div>
      <nav class="main-nav">
        <a class="nav-button" href="/masterclass" style="color: white"
          >MASTERCLASS</a
        >
        <a class="nav-button" href="/explore" style="color: white">EXPLORE</a>
        <a class="nav-button" href="/communityhub" style="color: white"
          >COMMUNITY HUB</a
        >
      </nav>
    </main>

    <script>
      const texts = ["amplify", "empower", "elevate", "harmonize"];
      let count = 0;

      function updateText() {
        const currentText = texts[count % texts.length];
        const textElement = document.getElementById("changing-text");
        textElement.classList.add("hidden-text");

        setTimeout(() => {
          textElement.textContent = currentText;
          textElement.classList.remove("hidden-text");
        }, 500);

        count++;
      }

      updateText();

      setInterval(updateText, 2500);
    </script>
  </body>
</html>
