<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="author"
      content="Agnes Bisma, Carolyn Chen, Enrico Pratama, Steven Heng"
    />
    <link rel="stylesheet" href="/css/masterclass.css" />
    <title>EchoSystem - Masterclass</title>
    <title>Document</title>
  </head>

  <body>
    <!-- Navbar Start -->
    <div class="main-section">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm">
              <a class="navbar-brand" href="#" style="padding-left: 7vw">
                <img
                  src="images/echosystemLogoColored.png"
                  alt="logo"
                  width="50"
                  height="50"
                  class="d-inline-block align-text-top img-fluid ml-5"
                />
                EchoSystem
              </a>
            </div>
          </div>

          <div class="col-sm text-white pl-5">HOME</div>

          <div class="col-sm text-white">EXPLORE</div>

          <div class="col-sm text-white">COMMUNITY HUB</div>
        </div>
      </nav>

      <img
        src="images/heroMasterclass.png"
        class="bg-image img-fluid w-100"
        alt="Background"
      />
    </div>
    <!-- Navbar End -->

    <!-- Horizontal scroll -->
    <div class="scroll-container">
      <div class="scroll-card" style="background-color: #2f3c7e">
        <h2>VIEW ALL</h2>
        <img class="img-fluid w-100" src="images/piano.png" alt="Piano" />
      </div>

      <div class="scroll-card" style="background-color: #fbeaeb">
        <h2>VOCALS</h2>
        <img class="img-fluid w-100" src="images/vocals.png" alt="Vocals" />
      </div>

      <div class="scroll-card" style="background-color: #8aaae5">
        <h2>E-GUITAR</h2>
        <img class="img-fluid w-100" src="images/guitar.png" alt="Guitar" />
      </div>

      <div class="scroll-card" style="background-color: white">
        <h2>DRUMS</h2>
        <img class="img-fluid w-100" src="images/drums.png" alt="Drums" />
      </div>

      <div class="scroll-card" style="background-color: #cfcfcf">
        <h2>EDM</h2>
        <img class="img-fluid w-100" src="images/edm.png" alt="EDM" />
      </div>

      <div class="scroll-card" style="background-color: #2f3c7e">
        <h2>EDM</h2>
        <img class="img-fluid w-100" src="  " alt="EDM" />
      </div>

      <div class="scroll-card" style="background-color: #fbeaeb">
        <h2>EDM</h2>
        <img class="img-fluid w-100" src="  " alt="EDM" />
      </div>
    </div>
    <!-- Horizontal scroll end -->
  </body>
</html>
