<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <meta
      name="author"
      content="Agnes Bisma, Carolyn Chen, Enrico Pratama, Steven Heng"
    />
    <link rel="stylesheet" href="/css/masterclass.css" />
    <title>EchoSystem - Masterclass</title>
    <title>Document</title>
  </head>

  <body>
    <!-- Navbar Start -->
    <div class="main-section">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm">
              <a class="navbar-brand" href="#" style="padding-left: 7vw">
                <img
                  src="images/echosystemLogoColored.png"
                  alt="logo"
                  width="50"
                  height="50"
                  class="d-inline-block align-text-top img-fluid ml-5"
                />
                EchoSystem
              </a>
            </div>
          </div>

          <div class="col-sm text-white pl-5">
            <a class="text-white nav-link" href="/">HOME</a>
          </div>

          <div class="col-sm text-white">
            <a class="text-white nav-link" href="/explore">EXPLORE</a>
          </div>

          <div class="col-sm text-white">
            <a class="text-white nav-link" href="/communityhub"
              >COMMUNITY HUB</a
            >
          </div>
        </div>
      </nav>
      <div class="bg-image hover-zoom">
        <img
          src="images/heroMasterclass.png"
          class="bg-image img-fluid w-100"
          alt="Background"
        />
      </div>
    </div>
    <!-- Navbar End -->

    <!-- Horizontal scroll -->
    <div class="scroll-container">
      <div class="scroll-card" style="background-color: #2f3c7e">
        <h2 style="color: #fbeaeb">VIEW ALL</h2>
        <img class="img-fluid w-100" src="images/piano.png" alt="Piano" />
      </div>

      <div class="scroll-card" style="background-color: #fbeaeb">
        <h2>VOCALS</h2>
        <img class="img-fluid w-100" src="images/vocals.png" alt="Vocals" />
      </div>

      <div class="scroll-card" style="background-color: #8aaae5">
        <h2 style="color: #ffffff">E-GUITAR</h2>
        <img class="img-fluid w-100" src="images/guitar.png" alt="Guitar" />
      </div>

      <div class="scroll-card" style="background-color: white">
        <h2>DRUMS</h2>
        <img class="img-fluid w-100" src="images/drums.png" alt="Drums" />
      </div>

      <div class="scroll-card" style="background-color: #cfcfcf">
        <h2 style="color: #2f3c7e">EDM</h2>
        <img class="img-fluid w-100" src="images/edm.png" alt="EDM" />
      </div>

      <div class="scroll-card" style="background-color: #2f3c7e">
        <h2 style="color: #ffffff">HARP</h2>
        <img class="img-fluid w-100" src="images/harp.png" alt="Harp" />
      </div>

      <div class="scroll-card" style="background-color: #fbeaeb">
        <h2>RAP</h2>
        <img class="img-fluid w-100" src="images/rap.png" alt="Rap" />
      </div>
    </div>
    <!-- Horizontal scroll end -->

    <!-- Footer Start -->
    <section class="">
      <!-- Footer -->
      <footer class="text-center text-white" style="background-color: #0a4275">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: CTA -->
          <section class="">
            <p class="d-flex justify-content-center align-items-center">
              <span class="me-3">Register for free</span>
              <button
                data-mdb-ripple-init
                type="button"
                class="btn btn-outline-light btn-rounded"
              >
                Sign up!
              </button>
            </p>
          </section>
          <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2)"
        >
          © 2020 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/"
            >MDBootstrap.com</a
          >
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </section>

    <!-- Footer End -->
  </body>
</html>
