body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  align-items: center;
}

body {
  background-color: white;
}

/* NAVBAR START */
nav {
  background-color: #333399;
}

@media (max-width: 768px) {
  h1.title-font {
    font-size: calc(2rem + 2vw);
    margin: 0;
  }

  h1.center-small {
    text-align: center;
  }

  .center-align {
    align-items: center;
    justify-content: center;
  }

  header.height-change {
    height: 25vh;
  }
}

nav.navbar {
  background-color: #333399;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0 15px;
}

.navbar-brand,
.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}
.nav-link {
  padding: 10px 15px;
  margin-right: 30px;
  margin-left: 30px;
}

.nav-item {
  margin: 0 10px; /* Margin between items */
}

.navbar-brand {
  display: flex; /* Enable flexbox */
  align-items: center; /* Center items vertically */
  margin-right: 15px;
  /* No margin-right is needed unless you want to push nav-links to the right */
}

.navbar-nav {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
/* NAVBAR END */

/* BUTTON FAVORITES START */
.btn1 {
  outline: none;
  margin-top: 20px;
  font-size: 25px; /* Adjust the font size as needed */
  padding: 10px 20px; /* Padding inside the buttons */
  border: none; /* Remove any borders */
  background-color: transparent; /* No background for a text-like button */
  cursor: pointer; /* Changes the cursor on hover */
  position: relative; /* For positioning the pseudo-element */
  outline: none; /* Remove focus outline */
  color: #000; /* Text color */
}

/* Remove text decoration to prevent default underlining */
.btn1:hover {
  text-decoration: none;
}

.btn1::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #2f3c7e, #fbeaeb, #8aaae5);
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Expand the pseudo-element on hover */
.btn1:hover::after {
  width: 100%;
}
/* BUTTON FAVORITES END */

/* GALLERY AND PICTURE CARDS */
.save {
  margin-top: 5px;
  margin-left: 228px;
}

.save:hover svg path {
  fill: #8aaae5;
}

svg path.saved {
  fill: #8aaae5; /* Or any other color */
}

.save svg path {
  transition: fill 0.2s ease-in-out;
}

body {
  padding-top: 80px; /* height of the navbar */
  overflow-y: auto;
}

.header {
  font-size: 400%;
  background-color: #333399; /* dark blue */
  color: #fbeaeb;
  text-align: left;
  justify-content: left;
  align-items: left;
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
  height: 40vh; /* This sets the header height to 40% of the viewport height */
}

h1 {
  margin-top: 100px;
  margin-left: 50px;
  font-size: 100%;
}

.gallery .card {
  width: 20%; /* Sets the width of each card to 20% of the gallery container */
  margin-bottom: 40px; /* Adds space between rows */
  margin-right: 40px;
  margin-top: 40px;
}

.gallery .card-img-top .card-img-bottom {
  width: 100%; /* Makes the image take up 100% of the card's width */
  height: auto; /* Maintains aspect ratio */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img-top {
  object-fit: cover;
}

.card-img-bottom {
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  gap: 10px; /* This adds space between the cards, adjust as necessary */
  justify-content: space-around; /* Aligns items to the start of the container */
  align-items: flex-start;
}

.card {
  border: none;
  box-shadow: none;
  flex: 0 0 250px;
  width: 180px;
  margin-bottom: 20px;
  stroke: none;
}

/* FOOTER */
footer {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

footer .container p {
  text-align: center;
}

.btn-outline-light a.text-white:hover {
  color: black !important;
}
