.header {
  background-color: #fbeaeb; /* light pink */
  color: black;
  text-align: center;
  padding: 20px 0;
}
.add-icon {
  width: 100%;
  height: auto;
  background-color: #ccc; /* light gray */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Adjust size as needed */
  color: #333; /* dark gray */
}
.add-icon:before {
  content: "+";
}
