body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  align-items: center;
  
}

body {
  background-color: white;
}

/* NAVBAR START */
nav {
  background-color: #333399;
}

nav.navbar {
  background-color: #333399; /* Dark blue */
  color: white;
  display: flex; /* Enable flexbox */
  justify-content: space-evenly; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  width: 100%; /* Navbar takes the full width of the viewport */
  padding: 10px 0; /* Padding at the top and bottom */
  position: fixed; /* Fixed at the top */
  top: 0;
  left: 0;
  z-index: 1030; /* Above other page content */
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: start; /* Align items to the left */
  align-items: center;
  width: 100%; /* Let the container fill the width of the navbar */
  padding: 0 15px; /* Add padding on the sides */
}

.navbar-brand,
.nav-link {
  color: white; /* White text for better contrast */
  text-decoration: none; /* No underline for links */
  padding: 10px 15px; /* Padding around the links */
}
.nav-link {
  padding: 10px 15px;
  margin-right: 30px;
  margin-left: 30px;
}

.nav-item {
  margin: 0 10px; /* Margin between items */
}

.navbar-brand {
  display: flex; /* Enable flexbox */
  align-items: center; /* Center items vertically */
  margin-right: 15px;
  /* No margin-right is needed unless you want to push nav-links to the right */
}

.navbar-nav {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
/* NAVBAR END */

/* GALLERY AND PICTURE CARDS */
.save {
  margin-top: 5px;
  margin-left: 228px;
}

.save:hover svg path {
  fill: #8aaae5;
}

svg path.saved {
  fill: #8aaae5; /* Or any other color */
}

.save svg path {
  transition: fill 0.2s ease-in-out;
}

body {
  padding-top: 80px; /* height of the navbar */
  overflow-y: auto;
}

.header {
  font-size: 400%;
  background-color: #333399; /* dark blue */
  color: #fbeaeb;
  text-align: left;
  justify-content: left;
  align-items: left;
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
  height: 30vh; /* This sets the header height to 40% of the viewport height */
}

h1 {
  margin-top: 100px;
  margin-left: 50px;
  font-size: 100%;
}

.gallery .card {
  width: 20%; /* Sets the width of each card to 20% of the gallery container */
  margin-bottom: 40px; /* Adds space between rows */
  margin-right: 40px;
  margin-top: 40px;
}

.gallery .card-img-top .card-img-bottom {
  width: 100%; /* Makes the image take up 100% of the card's width */
  height: auto; /* Maintains aspect ratio */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img-top {
  object-fit: cover;
}

.card-img-bottom {
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* This adds space between the cards, adjust as necessary */
  justify-content: space-around; /* Aligns items to the start of the container */
  align-items: flex-start;
}

.card {
  border: none;
  box-shadow: none;
  flex: 0 0 250px;
  width: 180px;
  margin-bottom: 20px;
  stroke: none;
}

/* FOOTER */
footer {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

footer .container p {
  text-align: center;
}

/* For mobile devices */
@media (max-width: 576px) {
  nav.navbar {
    background-color: rgba(0, 0, 0, 0.7); /* Darker for better readability */
  }

  .navbar-nav .nav-link {
    margin: 0 5px;
    padding: 3px 5px;
    letter-spacing: 0.5px;
  }
}
